.TableFilterable {
  tbody > tr > td {
    vertical-align: middle !important;
    .userImage {
      width: 75px;
      height: 75px;
      background-size: cover !important;
      background-position: center !important;
      border: 5px solid lightgray;
    }
  }
}