.App {
  .filters {
    display: flex;
    justify-content: space-around;
    height: 50px;

    .radio, .checkbox {
      margin: 0;
    }

    label {
      margin-top: 10px;
      display: inline-block;
      align-self: center;
    }
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .App {
    .filters {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      margin-bottom: 20px;

      .checkbox {
        margin: 0 5px;
      }
    }
  }
}